
.body-container {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    text-align: center;
}


.main-content {
    flex: 1;
}


.container {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.container .box {
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-left: 30px;
    width: 40px;
    background-color: darkgrey;
    border:1px solid #000;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    font-family:monospace;
    text-shadow: 15 20 #333;
}

.text {
    text-align: center;
    padding-top: 5ch;
    color: red;
}

.result {
    font-size: 35px;
    font-style: oblique;
    font-weight: 200;
}

.linkContainer {
    text-align: center;
    color: blue;
    font-weight: 300;
    text-decoration: none;
}
.linkContainer :hover {
    color: rgb(158, 135, 193);
    font-size: 15px;
    font-weight: 200;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:underline 2px;
    
}



@media screen and (max-width: 768px) {
    .title {
      font-size: 50px;
    }
  }
  
    
